$fontFamily: "Poppins", sans-serif;
$fontWeight: 400;
$transition: 0.3s ease-in;
$transform: scale(0.85);

$m-1: rgb(241, 126, 25);
$m-2: rgb(240, 196, 18);
$m-3: rgb(77, 194, 164);
$m-4: rgb(42, 106, 42);
$m-5: rgb(28, 72, 176);
$reset: rgb(190, 188, 188);
$random: rgb(71, 226, 131);
$circle: rgb(155, 155, 155);
